
<footer class="footer">
  <img class="footer__logo" src="./assets/images/logo-nateevo.svg" alt="Logo Nateevo" width="170" height="22">
  <div class="footer__social-nav">
    <a href="#" class="social-icon"><img src="./assets/images/ico-instagram.svg" alt="Instagram"></a>
     <a href="#" class="social-icon"><img src="./assets/images/ico-linkedin.svg" alt="LinkedIn"></a>
    <a href="#" class="social-icon"><img src="./assets/images/ico-youtube.svg" alt="Youtube"></a>
    <a href="#" class="social-icon"><img src="./assets/images/ico-facebook.svg"alt="Facebook"></a>
</div>
  <p class="footer__copy">© 2019 Nateevo. Todos los derechos reservados</p>
</footer>
