<header class="header">
  
    
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a class="nav__list__li" href="https://adalab.es/"
              >Store</a
            >
          </li>
          <li>
            <a class="nav__list__li" href="https://adalab.es/">
              About us</a
            >
          </li>
          <li>
            <a class="nav__list__li" href="https://adalab.es/">We can help you?</a>
          </li>
        </ul>
      </nav>
      
 
<section class="section-logo" >

  <img src="./assets/images/logo.png" alt="Professional Logo" class="section-logo__image" >

 </section>  
 

</header>
