<header class="header sticky-menu">  
  <img class="header__logo" src="./assets/images/logo-nateevo.svg" alt="Logo Nateevo" width="170" height="22">
          <nav class="header__menu">
              <div class="menu-mobile">
                  <div class="hamburger-menu"></div>
              </div>
              <ul class="menu-desktop">
                  <li class="menu-item">
                      <a href="#">Opción 1</a>
                      <div class="submenu">
                        <div class="marker"></div>
                          <ul>
                              <li><a href="#">Submenú Opción 1</a></li>
                              <li><a href="#">Submenú Opción 2</a></li>
                              <li><a href="#">Submenú Opción 3</a></li>
                          </ul>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a href="#">Opción 2</a>
                      <div class="submenu">
                        <div class="marker"></div>
                          <ul>
                              <li><a href="#">Submenú Opción 1</a></li>
                              <li><a href="#">Submenú Opción 2</a></li>
                              <li><a href="#">Submenú Opción 3</a></li>
                          </ul>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a href="#">Opción 3</a>
                      <div class="submenu">
                        <div class="marker"></div>
                          <ul>
                              <li><a href="#">Submenú Opción 1</a></li>
                              <li><a href="#">Submenú Opción 2</a></li>
                              <li><a href="#">Submenú Opción 3</a></li>
                          </ul>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a href="#">Opción 4</a>
                      <div class="submenu">
                        <div class="marker"></div>
                          <ul>
                              <li><a href="#">Submenú Opción 1</a></li>
                              <li><a href="#">Submenú Opción 2</a></li>
                              <li><a href="#">Submenú Opción 3</a></li>
                          </ul>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a href="#">Opción 5</a>
                      <div class="submenu">
                        <div class="marker"></div>
                          <ul>
                              <li><a href="#">Submenú Opción 1</a></li>
                              <li><a href="#">Submenú Opción 2</a></li>
                              <li><a href="#">Submenú Opción 3</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </nav>
  <div class="header__language-buttons">
    <button class="header__language-button" id="spanish-button">ES</button>
    <button class="header__language-button" id="english-button">EN</button>
  </div>
</header>
