<main class="main">
 <!--section personalise-->
 <section class="section2">
    
    <article class="section2__box">
        
            <h2 class="animate__animated animate__bounce section2__box__title">Personalise your boba </h2>
            <img class="section2__box__image" src="./assets/images/bubble.jpg" alt="icon of a bubble tea">
            <p class="section2__box__subtitle">Choose your base</p>
            <p class="section2__box__p">Black or fruity tea</p>
            <p class="section2__box__subtitle">Water-based flavour</p>
            <p class="section2__box__p">Strawberry, mango melon, blackberry, pineapple, peach, passion fruit, green apple</p>
            <p class="section2__box__subtitle">Milk-based flavour</p>
            <p class="section2__box__p">Mango, taro, milk</p>

            <p class="section2__box__subtitle">Toppings</p>
            <p class="section2__box__p">Choose from tapioca or flavoured pearls</p>

            <input class="section2__box__button" type="submit" value="View menu">

    </article>

    <section class="section3">
        <h2 class="section3__box__tittle">Discover our flavours</h2>
        <article class="section3__box__images">
            <img class="section3__box__image-tea" src="./assets/images/matcha.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/cafe.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/te-negro.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/latte.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/te-white.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/te-coffe.jpg" alt="icon of a bubble tea">
            <img class="section3__box__image-tea" src="./assets/images/choco.jpg" alt="icon of a bubble tea">
        </article>


    </section>
    
    <section class="section4">
       <div class="section4__box">

<h2 class="animate__animated animate__bounce section4__box__title">Refresh your day with a bubble</h2>
<p class="section4__box__subtitle">Free home delivery for purchases over 8$</p>
<input class="section4__box__button" type="submit" value="Order now">

       </div> 
<img class="section4__image-tea" src="./assets/images/section-img.jpg" alt="icon of a bubble tea">
       

    </section>
</section>

<section class="section5">
    <h2 class="section5__title">Come and meet us</h2>
    <p class="section5__subtitle">We're waiting for you!</p>
    <img class="section5__map" src="./assets/images/map.png" alt="icon of a bubble tea">
</section>
</main>
