
<main class="main">
  <section class="main__notice">
    <span class="main__title-span">Noticias</span>
    <h3 class="main__subtitle">Lorem ipsum dolor sit amet</h3>
    <p class="main__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita
      eaque quasi, dolore aliquam non ullam exercitationem beatae odio excepturi
      maiores, magni nobis qui odit, ut natus debitis blanditiis placeat!
    </p>
    <div class="main__cards">
      <div class="main__card-img">
        <h3 class="main__card-img__title">Así de fácil. Así de sencillo</h3>
        <p class="main__card-img__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie at lectus et blandit. Integer id lacinia nulla nec finibus
          nisi tristique in ex.
        </p>
      </div>
      <div class="main__card-info">
        <img
          src="./assets/images/img-noticia-2.jpg"
          alt="Imagen de persona en la naturaleza"
        />
        <div class="main__card-info__container">
          <div class="main__card-info__date">
            <img
              class="main__card-info__logo-reloj"
              src="./assets/images/ico-reloj.svg"
              alt="Imagen de persona en la naturaleza"
            />
            <p class="main__card-info__text">14 Noviembre</p>
          </div>
          <h4 class="main__card-info__title">
            Creamos experiencias únicas para hacer crecer tu negocio
          </h4>
          <p
            class="main__card-info__info"
            id="hiddenText"
            style="display: none"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi
            molestie at lectus et blandit. Integer id lacinia nulla.
          </p>
          <button class="main__card-info__btn" id="toggleButton">
            Leer Más
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
