// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-white: white;
$color-light: rgb(248, 248, 248);
$color-brown: #E0D8B0;
$color-light-brown: #FCFFE7;
$color-orange: #DEA057;
$color-dark-orange: #CE9461;
$color-dark-brown: #614124; 
$color-grey: #C3B091;

//title colors
$color-green: #9EB23B;
$color-black: black;
