// fonts
$general-font: "Open Sans", OpenSans-Light;

// colors
$color-black: #000000;
$color-blue: #00FCFF;
$color-gray: #999999;
$color-gray-dark: #333330;
$color-gray-light: #F5F5F5;
$color-white: #FFFFFF;

