.footer {
  align-items: center;
  background-color: $color-black;
  display: grid;
  grid-template-areas:
    "logo"
    "nav"
    "copy";
  grid-template-columns: auto;
  gap: 20px;
  justify-content: center;
  padding: 40px 50px;
  width: 100%;

  &__logo {
    height: 22px;
    width: 170px;
    grid-area: logo;
  }
  &__copy {
    color: $color-white;
    font-size: 14px;
    grid-area: copy;
    justify-self: left;
    margin: 0;
  }
  &__social-nav {
    align-items: center;
    display: flex;
    gap: 50px;
    grid-area: nav;
  }

  @media (min-width: 768px) {
    grid-template-areas:
      "logo copy nav";
    grid-template-columns: auto 1fr auto;
  }
}