* {
  font-family: "Poppins", roboto;
}


.section2 {
  background-color: rgb(248, 248, 248);

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      width: 200px;
      height: 200px;
      padding: 12.5px 4px 8px;
      margin-bottom: 10px;
    }

    &__title {
      color: $color-orange;
      font-size: 40px;
      font-weight: 600;
      margin-top: 30px;
      animation-duration: 3s;
      animation-delay: 2s;
     text-align: center;
      
    }

    &__subtitle {
      color: $color-green;
      font-size: 20px;
      padding: 0 46px 0 51px;
      border-bottom: 3px solid #9EB23B; 
    }

    &__p {
      color: $color-black;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: center;
    }

    &__button {
      background-color: $color-green;
      border-style: none;
      border-radius: 30px;
      color: $color-white;
      font-size: 16px;
      width: 300px;
      height: 48px;
      font-weight: 600;
      padding: 12px 24px;
      margin: 24px 119px 0 119px;
      margin-bottom: 40px;
      transition: all 0.9s;
      cursor: pointer;

      &:hover {
        background-color: $color-grey;
        color: $color-white;
      }
    }
  }
}

.section3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__tittle {
      color: $color-orange;
      justify-content: center;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      margin-top: 10px;
      animation-duration: 3s;
      animation-delay: 2s;
    }
    &__images {
      display: flex;
      align-items: center;
      justify-content: center;
      
      flex-wrap:wrap;
      @media all and (min-width: 768px) {
       // display: flex;
      //flex-wrap:wrap;
      }
      
      
      &__image-tea {
      width: 200px;
      height: 200px;
      padding: 12.5px 4px 8px;
      margin-bottom: 10px;
    }
    }
    
  }

}


.section4 {
  background-color: $color-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 1100px) {
    flex-direction: row;
    height: 571px;
  }

  &__box {
    text-align: center;
    @media all and (min-width: 768px) {
      width: 50%;
    }
    &__title {
      color: $color-white;
      font-size: 24px;
      font-weight: 600;
      margin-top: 87px;
      margin-bottom: 10px;
      margin-left: 20px;
      animation-duration: 3s;
      animation-delay: 2s;
    }
    &__subtitle{
      color: $color-black;
    }

    &__button {
      background-color: $color-brown;
      color: $color-black;
      border-style: none;
      font-size: 16px;
      width: 200px;
      height: 48px;
      font-weight: 600;
      padding: 12px 24px;
      margin: 24px 119px 0 119px;
      margin-bottom: 92px;
      transition: all 0.9s;
      cursor: pointer;
      &:hover {
        background-color: rgb(245, 245, 128);
        color: #0c474b;
      }
    }
  }

  &__image-tea {
    width: 100%;
    /*height: 100%; */
    @media all and (min-width: 1100px) {
      width: 50%;
      height: 100%;
    }
  }
}

.section5{
  background-color: $color-orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
color: $color-white;
font-size: 28px;
padding-top: 20px;
  }

  &__subtitle {
    color: $color-white;
    padding-bottom: 10px;
  }
  &__map{
margin-bottom: 40px;
width: 300px;
height: 220px;
@media all and (min-width: 768px) {
  width: 550px; 
  height: 350px;
}
  }
}